.containeGraph {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  

  canvas {
    width: 100% !important;
    height: auto !important;
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .containeGraph {
    padding: 0.5rem;

    canvas {
      max-width: 100%;
    }
  }
}