.container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .containtInfoCountr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containtGraph {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
